In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('customer_shopping_behavior.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [7]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [9]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [10]:
df['Review Rating'].fillna(method='ffill', inplace=True)

C:\Users\aksha\AppData\Local\Temp\ipykernel_33036\1928349388.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Review Rating'].fillna(method='ffill', inplace=True)

In [11]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [12]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [16]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')

In [17]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [19]:
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [20]:
df

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [24]:
labels=['Young','Adult','Middle_aged','Senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)

In [26]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle_aged
1   19        Young
2   50  Middle_aged
3   21        Young
4   45  Middle_aged
5   46  Middle_aged
6   63       Senior
7   27        Young
8   26        Young
9   57  Middle_aged

In [28]:
frequency_mapping={
    'Fortnightly':14,
    'Weekly':7,
    'Quarterly':90,
    'Annually':365,
    'Bi-Weekly':14,
    'Monthly':30,
    'Every 3 months':90
}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [29]:
df

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,Middle_aged,14.0
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,Young,14.0
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,Middle_aged,7.0
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,Young,7.0
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,Middle_aged,365.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly,Adult,7.0
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly,Middle_aged,14.0
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly,Middle_aged,90.0
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly,Adult,7.0
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly,Middle_aged,90.0

In [30]:
(df['discount_applied']==df['promo_code_used']).all()

True

In [31]:
df=df.drop('promo_code_used',axis=1)

In [32]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in c:\users\aksha\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\aksha\anaconda3\lib\site-packages (from sqlalchemy) (4.14.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\aksha\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Downloading psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
    --------------------------------------- 0.0/2.7 MB 495.5 kB/s eta 0:00:06
   --- ------------------------------------ 0.2/2.7 MB 2.1 MB/s eta 0:00:02
   -------- ------------------------------- 0.6/2.7 MB 4.2 MB/s eta 0:00:01
   -------- ------------------------------- 0.6/2.7 MB 4.2 MB/s eta 0:00:01
   ---------- ----------------------------- 0.7/2.7 MB 2.7 MB/s eta 0:00:01
   ------------ --------------------------- 0.8/2.7 MB 2.9 MB/s eta 0:00:01
   ------------ --------------------------- 0.8/2.7 MB 2.9 MB/s eta 0:00:01
   ------------ --------------------------- 0.8/2.7 MB 2.9 MB/s eta 0:00:01
   ------------ --------------------------- 0.8/2.7 MB 2.9 MB/s eta 0:00:01
   ------------ --------------------------- 0.8/2.7 MB 2.9 MB/s eta 0:00:01
   ------------ --------------------------- 0.8/2.7 MB 2.9 MB/s eta 0:00:01
   ------------ --------------------------- 0.8/2.7 MB 2.9 MB/s eta 0:00:01
   ------------ --------------------------- 0.8/2.7 MB 2.9 MB/s eta 0:00:01
   ------------ --------------------------- 0.8/2.7 MB 2.9 MB/s eta 0:00:01
   ------------ --------------------------- 0.8/2.7 MB 2.9 MB/s eta 0:00:01
   ------------ --------------------------- 0.8/2.7 MB 2.9 MB/s eta 0:00:01
   ------------ --------------------------- 0.8/2.7 MB 2.9 MB/s eta 0:00:01
   ------------- -------------------------- 0.9/2.7 MB 983.6 kB/s eta 0:00:02
   ------------------- -------------------- 1.4/2.7 MB 1.3 MB/s eta 0:00:02
   ----------------------------------- ---- 2.4/2.7 MB 2.1 MB/s eta 0:00:01
   ------------------------------------ --- 2.4/2.7 MB 2.1 MB/s eta 0:00:01
   -------------------------------------- - 2.6/2.7 MB 2.0 MB/s eta 0:00:01
   -------------------------------------- - 2.6/2.7 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  2.7/2.7 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 1.8 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

In [33]:
pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\aksha\anaconda3\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\aksha\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\aksha\anaconda3\lib\site-packages (from sqlalchemy) (4.14.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\aksha\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [43]:
import psycopg2
from psycopg2 import sql

user = "postgres"
password = "1234"
host = "localhost"
port = 5432
dbname = "customer_behavior"

try:
    con = psycopg2.connect(dbname="postgres", user=user, password=password, host=host, port=port)
    con.autocommit = True
    cur = con.cursor()
    cur.execute("SELECT 1 FROM pg_database WHERE datname=%s;", (dbname,))
    if cur.fetchone():
        print(f"Database '{dbname}' already exists.")
    else:
        cur.execute(sql.SQL('CREATE DATABASE {}').format(sql.Identifier(dbname)))
        print(f"Database '{dbname}' created.")
    cur.close()
    con.close()
except Exception as e:
    print("Error creating/checking database:", e)

Database 'customer_behavior' created.

In [44]:
from sqlalchemy import create_engine, text
from urllib.parse import quote_plus

username = "postgres"
password = "1234"
host = "localhost"
port = 5432
database = "customer_behavior"   # now exists!

# encode password in case it has special characters
password_quoted = quote_plus(password)

# build SQLAlchemy connection URL
url = f"postgresql+psycopg2://{username}:{password_quoted}@{host}:{port}/{database}"

# create the engine
engine = create_engine(url, connect_args={"connect_timeout": 10})

# quick test
with engine.connect() as conn:
    version = conn.execute(text("SELECT version();")).scalar()
    print("✅ Connected to PostgreSQL — server version:", version)

✅ Connected to PostgreSQL — server version: PostgreSQL 18.0 on x86_64-windows, compiled by msvc-19.44.35217, 64-bit

In [45]:
table_name = "customer"

df.to_sql(
    table_name,
    con=engine,
    if_exists="replace",   # or "append" if you want to add data
    index=False,
    method="multi",
    chunksize=1000
)

print(f"🎉 Data successfully loaded into table '{table_name}' in database '{database}'.")

🎉 Data successfully loaded into table 'customer' in database 'customer_behavior'.

In [46]:
import pandas as pd

check_df = pd.read_sql_query(f"SELECT * FROM {table_name} LIMIT 5;", con=engine)
print(check_df)

   customer_id  age gender item_purchased  category  purchase_amount  \
0            1   55   Male         Blouse  Clothing               53
1            2   19   Male        Sweater  Clothing               64
2            3   50   Male          Jeans  Clothing               73
3            4   21   Male        Sandals  Footwear               90
4            5   45   Male         Blouse  Clothing               49

        location size      color  season  review_rating subscription_status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   shipping_type discount_applied  previous_purchases payment_method  \
0        Express              Yes                  14          Venmo
1        Express              Yes                   2           Cash
2  Free Shipping              Yes                  23    Credit Card
3   Next Day Air              Yes                  49         PayPal
4  Free Shipping              Yes                  31         PayPal

  frequency_of_purchases    age_group  purchase_frequency_days
0            Fortnightly  Middle_aged                     14.0
1            Fortnightly        Young                     14.0
2                 Weekly  Middle_aged                      7.0
3                 Weekly        Young                      7.0
4               Annually  Middle_aged                    365.0